<template id="frame-holder-template">
    <svg id="svg-root" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" >
        <g class="frame-thumbnail">
            <g class="frame-body">
                <svg x="0" y="0"
                     viewBox="0 0 640 1136"
                     preserveAspectRatio="xMinYMin"
                     width="75.44910179640719"
                     height="120"
                     class="content">
                    <!--device 1 goes here...--->
                </svg>
            </g>
        </g>
    </svg>
</template>