<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CoNarrative - Try it out</title>

    {{> big_frame }}



    <link href="/public/UI/compass/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/public/css/keyframe/app.css">
    <link rel="stylesheet" type="text/css" href="/public/css/keyframe/editor-new.css">
    <link rel="stylesheet" type="text/css" href="/public/css/keyframe/keyframe-standard-svg.css">
    <link rel="stylesheet" type="text/css" href="/public/css/keyframe/keyframe-standard-html.css">
    <link rel="stylesheet" type="text/css" href="/public/css/keyframe/keyframe-standard-extra.css">
    <link rel="stylesheet" type="text/css" href="/public/css/keyframe/keyframe-standard-widgets.css">
    <link rel="stylesheet" type="text/css" href="/public/css/right-section.css">
</head>
<body class="keyframe-proper poster-mode edit-mode-off" style="overflow:hidden">
<!--do not want the main container ever scrollable!-->


<svg id="svg-defs" xmlns="http://www.w3.org/2000/svg" version="1.1" style="position:absolute;height:0px;width:0px">
    <defs>
        /** GRADIENTS **/
        <linearGradient id="buttonGradient-activated" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop style="stop-color:#e4e5e7;stop-opacity:1;" offset="0"></stop>
            <stop style="stop-color:#bdbec0;stop-opacity:1;" offset="1"></stop>
        </linearGradient>
        <linearGradient id="buttonGradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop style="stop-color:#fafbfd;stop-opacity:1;" offset="0"></stop>
            <stop style="stop-color:#dfe0e2;stop-opacity:1;" offset="1"></stop>
        </linearGradient>

        /**PATTERNS **/
        <pattern id="design-frame-pattern" patternUnits="userSpaceOnUse" x="0" y="0" width="70" height="100"
                 viewBox="0 0 35 50">
            <rect width="75" height="100" fill="slategray"></rect>
            <circle cx="75" cy="50" r="28.3%" stroke-width="12" stroke="#9aa6b2" fill="none"></circle>
            <circle cx="0" r="28.3%" stroke-width="12" stroke="#9aa6b2" fill="none"></circle>
            <circle cy="100" r="28.3%" stroke-width="12" stroke="#9aa6b2" fill="none"></circle>
        </pattern>

        <pattern id="missing-context-pattern" patternUnits="userSpaceOnUse" x="0" y="0" width="20" height="9">
            <rect width="20" height="9" fill="#f2f2f2"></rect>
            <rect width="20" height="2" fill="#e7e7e7"></rect>
            <rect y="2" width="20" height="3" fill="#ececec"></rect>
        </pattern>


        <pattern id="hatch01" patternUnits="userSpaceOnUse" x="0" y="0" width="15" height="15">
            <g style="fill:none; stroke:red; stroke-width:1">
                <rect width="15" height="15" stroke="none" fill="white"></rect>
                <path d="M0,0 l15,15"></path>
                <path d="M15,0 l-15,15"></path>
            </g>
        </pattern>
        <pattern id="hatch02" patternUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <g style="fill:none; stroke:black; stroke-width:1">
                <path d="M0,0 l25,25"></path>
                <path d="M25,0 l-25,25"></path>
            </g>
        </pattern>


        /**FILTERS **/
        <filter id="drop-shadow-widget-BAD">
            <feGaussianBlur in="SourceAlpha" stdDeviation="3"></feGaussianBlur>
            <feOffset dx="2" dy="4"></feOffset>
            <feMerge>
                <feMergeNode></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter id="drop-shadow-widget-better">
            <feGaussianBlur in="SourceAlpha" stdDeviation="2" result="blur"></feGaussianBlur>
            [1]
            <feOffset in="blur" dx="4" dy="4" result="offsetBlur"></feOffset>
            [2]
            <feMerge> [3]
                <feMergeNode in="offsetBlur"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter id="drop-shadow-widget" width="1.5" height="1.5" x="-.25" y="-.25">
            <feGaussianBlur id="feGaussianBlur3283" in="SourceAlpha" stdDeviation="5.3" result="blur"></feGaussianBlur>
            <feColorMatrix id="feColorMatrix3285" result="bluralpha" type="matrix"
                           values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.626 0 "></feColorMatrix>
            <feOffset id="feOffset3287" in="bluralpha" dx="0" dy="0" result="offsetBlur"></feOffset>
            <feMerge id="feMerge3289">
                <feMergeNode id="feMergeNode3291" in="offsetBlur"></feMergeNode>
                <feMergeNode id="feMergeNode3293" in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter id="design-frame-filter" inkscape:label="Growing cells" inkscape:menu="Overlays"
                inkscape:menu-tooltip="Random rounded living cells like fill" color-interpolation-filters="sRGB">
            <feTurbulence id="feTurbulence3264" type="fractalNoise" baseFrequency="0.1" numOctaves="3"
                          result="result7"></feTurbulence>
            <feColorMatrix id="feColorMatrix3266" values="0" result="result8" type="saturate"></feColorMatrix>
            <feColorMatrix id="feColorMatrix3268" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 20 -12 " result="result6"
                           type="matrix"></feColorMatrix>
            <feGaussianBlur id="feGaussianBlur3270" stdDeviation="2" result="result5" in="result6"></feGaussianBlur>
            <feColorMatrix id="feColorMatrix3272" in="result5" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 10 -0.1 "
                           result="result0" type="matrix"></feColorMatrix>
            <feComposite id="feComposite3274" in2="SourceGraphic" k1="0.8" k2="1" operator="arithmetic" result="result3"
                         in="result0"></feComposite>
            <feComposite id="feComposite3276" in2="result8" operator="atop" result="result9"></feComposite>
            <feBlend id="feBlend3278" in2="SourceGraphic" mode="normal" result="result9"></feBlend>
            <feComposite id="feComposite3280" in2="SourceGraphic" in="result9" operator="atop"
                         result="result2"></feComposite>
        </filter>

        <filter id="dropshadow" height="130%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="3"></feGaussianBlur>
            <feOffset dx="12" dy="12" result="offsetblur"></feOffset>
            <feComponentTransfer>
                <feFuncA type="linear" slope="0.2"></feFuncA>
            </feComponentTransfer>
            <feMerge>
                <feMergeNode></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter id="widget-state-selected" color-interpolation-filters="sRGB" filterUnits="objectBoundingBox" x="0"
                y="0" width="100%" height="100%">
            <!--<feColorMatrix type="saturate" in="SourceGraphic" values = "0" result="A" />-->
            <feColorMatrix type="matrix" in="SourceGraphic" values="0.4  0.3  0.3  0.0  0.0
              0.3  0.4  0.3  0.0  0.3
              0.3  0.3  0.4  0.0  0.0
              0.0  0.0  0.0  1.0  0.0"></feColorMatrix>
        </filter>
        <radialGradient id="change-highlight" cx="254.28572" cy="332.36218" fx="254.28572" fy="332.36218" r="183.35715"
                        gradientTransform="matrix(1,0,0,0.54811062,0,150.19094)"
                        gradientUnits="userSpaceOnUse"></radialGradient>

        <filter id="rough" color-interpolation-filters="sRGB">
            <feTurbulence id="feTurbulence2989" numOctaves="3" seed="0" type="turbulence" baseFrequency="0.04"
                          result="result91"></feTurbulence>
            <feDisplacementMap id="feDisplacementMap2991" in2="result91" scale="5.1" yChannelSelector="G"
                               xChannelSelector="R" in="SourceGraphic"></feDisplacementMap>
        </filter>
        <marker id="marker-triangle" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="3"
                markerHeight="2.25" orient="auto">
            <path fill="green" d="M 0 0 L 10 5 L 0 10 z"></path>
        </marker>
        <marker id="marker-motion-arrow" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="3"
                markerHeight="2.25" orient="auto">
            <path fill="#E28A2B" d="M 0 0 L 10 5 L 0 10 z"></path>
        </marker>
        <marker id="marker-arrow-line-widget" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth"
                orient="auto" markerWidth="12" markerHeight="9">
            <polyline points="0,0 10,5 0,10 1,5"></polyline>
        </marker>
        <marker id="marker-arrow-plain" viewBox="0 0 10 10" refX="1" refY="5" markerUnits="strokeWidth" orient="auto"
                markerWidth="4" markerHeight="3">
            <polyline fill="#003800" points="0,0 10,5 0,10 1,5"></polyline>
        </marker>
        <marker id="marker-arrow-selected" viewBox="0 0 10 10" refX="1" refY="5" markerUnits="strokeWidth" orient="auto"
                markerWidth="4" markerHeight="3">
            <polyline fill="#274E5A" points="0,0 10,5 0,10 1,5"></polyline>
        </marker>
    </defs>
</svg>

<div class="editor-mode">
    <div tabindex="1" class="poster-view">
        <div class="scaled-overlay"
             style="position: absolute; z-index: 500; top: 0px; left: 0px; height: 100%; width: 100%; transform-origin: left top 0px; transform: matrix(0.450450444645275, 0, 0, 0.450450444645275, 106.75675538093, 885.972954956609);"></div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="height:100%; width:100%; overflow-x:visible"
             visibility="inherit">
            <g class="scaled"
               transform="matrix(0.4504504446452745,0,0,0.4504504446452745,106.75675538093006,885.9729549566094)">
                <g class="flows">
                    <g data-flow-id="launch" class="flow" transform="translate(217,-10)">
                        <rect x="0" y="-10" width="1982" height="13" class="flow-outline"></rect>
                        <g transform="translate(2,-8)" class="flow-expander">
                            <rect x="0" y="0" width="8" height="8" class="flow-expander-hitbox"></rect>
                            <line x1="0" y1="4" x2="8" y2="4"></line>
                            <line x1="4" y1="0" x2="4" y2="8" class="vert"></line>
                        </g>
                        <text x="12" y="-1" class="flow-title">Start the app</text>
                    </g>
                </g>
                <g transform="translate(446 2)" class="selector">
                    <rect rx="1" ry="1" x="29" y="-3" width="162" height="122" class="selector-rectangle">
                        <animate begin="indefinite" attributeName="width" to="162" dur="0.3s" fill="freeze"
                                 keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        <animate begin="indefinite" attributeName="height" to="122" dur="0.3s" fill="freeze"
                                 keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        <animate begin="indefinite" attributeName="rx" to="1" dur="0.3s" fill="freeze" keyTimes="0; 1"
                                 calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        <animate begin="indefinite" attributeName="ry" to="1" dur="0.3s" fill="freeze" keyTimes="0; 1"
                                 calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                    </rect>
                    <animateTransform begin="indefinite" attributeName="transform" to="446,2" dur="0.3s" fill="freeze"
                                      keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1" from="444,0"
                                      type="translate"></animateTransform>
                </g>
                <g class="frame-thumbnails">
                    <g class="frame-thumbnail on-stage head start-frame" data-id="eternal">
                        <g class="left-margin frame-body" transform="translate(0,0)">
                            <rect data-frame-id="eternal" x="-10000" y="-10000" width="10192" height="20000"></rect>
                        </g>
                        <g class="frame-body">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="eternal" x="30" y="-5" stroke-width="8" width="164" height="124"
                                  class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                        </g>
                        <text text-anchor="middle" font-size="12px" transform="translate(10,60) rotate(-90)">STARTING
                        </text>
                        <text text-anchor="middle" font-size="16px" transform="translate(25,60) rotate(-90)">DESIGN
                        </text>
                    </g>
                    <g class="frame-thumbnail on-stage head start-frame first-in-series" data-id="launch">
                        <path class="connector" d="M0,0"></path>
                        <circle data-frame-id="launch" cx="0" cy="0" r="3" class="trigger-origin"></circle>
                        <g class="frame-body" transform="translate(222,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="launch" x="30" y="-5" stroke-width="8" width="164" height="124"
                                  class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span class="frame-action-verb">launch </span><span
                                            class="frame-action-value"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-launch" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="launch" x="5" y="-20" height="14" width="207"
                                  class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                    <g class="frame-thumbnail on-stage selected" data-id="300e6bea-cc3c-46eb-a65e-010d943f2bbb">
                        <path class="connector" d="M 334 60 A 252 252 0 0 0 460 60 l 4 0">
                            <animate begin="indefinite" attributeName="d" to="M334,60 A252,252 0 0 0 460,60 l4,0"
                                     dur="0.3s" fill="freeze" keyTimes="0; 1" calcMode="spline"
                                     keySplines="0.25 0.1 0.25 1"></animate>
                        </path>
                        <circle data-frame-id="300e6bea-cc3c-46eb-a65e-010d943f2bbb" cx="334" cy="60" r="3"
                                class="trigger-origin">
                            <animate begin="indefinite" attributeName="cx" to="334" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                            <animate begin="indefinite" attributeName="cy" to="60" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        </circle>
                        <g class="frame-body" transform="translate(444,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="300e6bea-cc3c-46eb-a65e-010d943f2bbb" x="30" y="-5" stroke-width="8"
                                  width="164" height="124" class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span class="frame-action-verb">hover </span><span
                                            class="frame-action-target-path"></span><span
                                            class="frame-action-target"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-300e6bea-cc3c-46eb-a65e-010d943f2bbb" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="300e6bea-cc3c-46eb-a65e-010d943f2bbb" x="5" y="-20" height="14"
                                  width="207" class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                    <g class="frame-thumbnail on-stage" data-id="e2354a77-d92b-489f-8bc3-fc7ffacb1c73">
                        <path class="connector" d="M 636 60 A 252 252 0 0 0 682 60 l 4 0">
                            <animate begin="indefinite" attributeName="d" to="M636,60 A252,252 0 0 0 682,60 l4,0"
                                     dur="0.3s" fill="freeze" keyTimes="0; 1" calcMode="spline"
                                     keySplines="0.25 0.1 0.25 1"></animate>
                        </path>
                        <circle data-frame-id="e2354a77-d92b-489f-8bc3-fc7ffacb1c73" cx="636" cy="60" r="3"
                                class="trigger-origin">
                            <animate begin="indefinite" attributeName="cx" to="636" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                            <animate begin="indefinite" attributeName="cy" to="60" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        </circle>
                        <g class="frame-body" transform="translate(666,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="e2354a77-d92b-489f-8bc3-fc7ffacb1c73" x="30" y="-5" stroke-width="8"
                                  width="164" height="124" class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span
                                            class="frame-action-verb waitish">wait </span><span
                                            class="frame-action-value"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-e2354a77-d92b-489f-8bc3-fc7ffacb1c73" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="e2354a77-d92b-489f-8bc3-fc7ffacb1c73" x="5" y="-20" height="14"
                                  width="207" class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                    <g class="frame-thumbnail on-stage" data-id="a06e8505-999d-4ce2-a117-f92e83618ee3">
                        <path class="connector" d="M 858 60 A 252 252 0 0 0 904 60 l 4 0">
                            <animate begin="indefinite" attributeName="d" to="M858,60 A252,252 0 0 0 904,60 l4,0"
                                     dur="0.3s" fill="freeze" keyTimes="0; 1" calcMode="spline"
                                     keySplines="0.25 0.1 0.25 1"></animate>
                        </path>
                        <circle data-frame-id="a06e8505-999d-4ce2-a117-f92e83618ee3" cx="858" cy="60" r="3"
                                class="trigger-origin">
                            <animate begin="indefinite" attributeName="cx" to="858" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                            <animate begin="indefinite" attributeName="cy" to="60" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        </circle>
                        <g class="frame-body" transform="translate(888,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="a06e8505-999d-4ce2-a117-f92e83618ee3" x="30" y="-5" stroke-width="8"
                                  width="164" height="124" class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span
                                            class="frame-action-verb waitish">wait </span><span
                                            class="frame-action-value"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-a06e8505-999d-4ce2-a117-f92e83618ee3" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="a06e8505-999d-4ce2-a117-f92e83618ee3" x="5" y="-20" height="14"
                                  width="207" class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                    <g class="frame-thumbnail on-stage" data-id="4caa2135-46a0-4bd8-a3f8-145f58cee7db">
                        <path class="connector" d="M 1080 60 A 252 252 0 0 0 1126 60 l 4 0">
                            <animate begin="indefinite" attributeName="d" to="M1080,60 A252,252 0 0 0 1126,60 l4,0"
                                     dur="0.3s" fill="freeze" keyTimes="0; 1" calcMode="spline"
                                     keySplines="0.25 0.1 0.25 1"></animate>
                        </path>
                        <circle data-frame-id="4caa2135-46a0-4bd8-a3f8-145f58cee7db" cx="1080" cy="60" r="3"
                                class="trigger-origin">
                            <animate begin="indefinite" attributeName="cx" to="1080" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                            <animate begin="indefinite" attributeName="cy" to="60" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        </circle>
                        <g class="frame-body" transform="translate(1110,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="4caa2135-46a0-4bd8-a3f8-145f58cee7db" x="30" y="-5" stroke-width="8"
                                  width="164" height="124" class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span
                                            class="frame-action-verb waitish">wait </span><span
                                            class="frame-action-value"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-4caa2135-46a0-4bd8-a3f8-145f58cee7db" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="4caa2135-46a0-4bd8-a3f8-145f58cee7db" x="5" y="-20" height="14"
                                  width="207" class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                    <g class="frame-thumbnail on-stage" data-id="0fefc2f2-6368-45a8-9f59-c849136fa1b3">
                        <path class="connector" d="M 1302 60 A 252 252 0 0 0 1348 60 l 4 0">
                            <animate begin="indefinite" attributeName="d" to="M1302,60 A252,252 0 0 0 1348,60 l4,0"
                                     dur="0.3s" fill="freeze" keyTimes="0; 1" calcMode="spline"
                                     keySplines="0.25 0.1 0.25 1"></animate>
                        </path>
                        <circle data-frame-id="0fefc2f2-6368-45a8-9f59-c849136fa1b3" cx="1302" cy="60" r="3"
                                class="trigger-origin">
                            <animate begin="indefinite" attributeName="cx" to="1302" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                            <animate begin="indefinite" attributeName="cy" to="60" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        </circle>
                        <g class="frame-body" transform="translate(1332,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="0fefc2f2-6368-45a8-9f59-c849136fa1b3" x="30" y="-5" stroke-width="8"
                                  width="164" height="124" class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span
                                            class="frame-action-verb waitish">wait </span><span
                                            class="frame-action-value"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-0fefc2f2-6368-45a8-9f59-c849136fa1b3" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="0fefc2f2-6368-45a8-9f59-c849136fa1b3" x="5" y="-20" height="14"
                                  width="207" class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                    <g class="frame-thumbnail on-stage" data-id="a30130bf-e66d-467d-867f-b2129f24125a">
                        <path class="connector" d="M 1524 60 A 252 252 0 0 0 1570 60 l 4 0">
                            <animate begin="indefinite" attributeName="d" to="M1524,60 A252,252 0 0 0 1570,60 l4,0"
                                     dur="0.3s" fill="freeze" keyTimes="0; 1" calcMode="spline"
                                     keySplines="0.25 0.1 0.25 1"></animate>
                        </path>
                        <circle data-frame-id="a30130bf-e66d-467d-867f-b2129f24125a" cx="1524" cy="60" r="3"
                                class="trigger-origin">
                            <animate begin="indefinite" attributeName="cx" to="1524" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                            <animate begin="indefinite" attributeName="cy" to="60" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        </circle>
                        <g class="frame-body" transform="translate(1554,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="a30130bf-e66d-467d-867f-b2129f24125a" x="30" y="-5" stroke-width="8"
                                  width="164" height="124" class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span
                                            class="frame-action-verb waitish">wait </span><span
                                            class="frame-action-value"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-a30130bf-e66d-467d-867f-b2129f24125a" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="a30130bf-e66d-467d-867f-b2129f24125a" x="5" y="-20" height="14"
                                  width="207" class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                    <g class="frame-thumbnail on-stage" data-id="234467c0-755a-4c41-8d0b-2b3182fde130">
                        <path class="connector" d="M 1746 60 A 252 252 0 0 0 1792 60 l 4 0">
                            <animate begin="indefinite" attributeName="d" to="M1746,60 A252,252 0 0 0 1792,60 l4,0"
                                     dur="0.3s" fill="freeze" keyTimes="0; 1" calcMode="spline"
                                     keySplines="0.25 0.1 0.25 1"></animate>
                        </path>
                        <circle data-frame-id="234467c0-755a-4c41-8d0b-2b3182fde130" cx="1746" cy="60" r="3"
                                class="trigger-origin">
                            <animate begin="indefinite" attributeName="cx" to="1746" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                            <animate begin="indefinite" attributeName="cy" to="60" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        </circle>
                        <g class="frame-body" transform="translate(1776,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="234467c0-755a-4c41-8d0b-2b3182fde130" x="30" y="-5" stroke-width="8"
                                  width="164" height="124" class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span
                                            class="frame-action-verb waitish">wait </span><span
                                            class="frame-action-value"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-234467c0-755a-4c41-8d0b-2b3182fde130" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="234467c0-755a-4c41-8d0b-2b3182fde130" x="5" y="-20" height="14"
                                  width="207" class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                    <g class="frame-thumbnail on-stage tail" data-id="0f3f82e0-d739-4c81-afe3-7b449e0e0178">
                        <path class="connector" d="M 1968 60 A 252 252 0 0 0 2014 60 l 4 0">
                            <animate begin="indefinite" attributeName="d" to="M1968,60 A252,252 0 0 0 2014,60 l4,0"
                                     dur="0.3s" fill="freeze" keyTimes="0; 1" calcMode="spline"
                                     keySplines="0.25 0.1 0.25 1"></animate>
                        </path>
                        <circle data-frame-id="0f3f82e0-d739-4c81-afe3-7b449e0e0178" cx="1968" cy="60" r="3"
                                class="trigger-origin">
                            <animate begin="indefinite" attributeName="cx" to="1968" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                            <animate begin="indefinite" attributeName="cy" to="60" dur="0.3s" fill="freeze"
                                     keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"></animate>
                        </circle>
                        <g class="frame-body" transform="translate(1998,0)">
                            <rect x="32" y="0" width="160" height="120" class="thumb-outline"></rect>
                            <svg x="32" y="0" viewBox="0 0 1024 768" preserveAspectRatio="xMinYMin" width="160"
                                 height="120" class="content"></svg>
                            <rect data-frame-id="0f3f82e0-d739-4c81-afe3-7b449e0e0178" x="30" y="-5" stroke-width="8"
                                  width="164" height="124" class="thumb-outline hit-box"></rect>
                            <rect x="196" y="-7" width="5" height="40" class="tail-stop"></rect>
                            <g transform="translate(-23,10) scale(0.5)">
                                <foreignObject width="90" height="120">
                                    <div class="action-trigger-text"><span
                                            class="frame-action-verb waitish">wait </span><span
                                            class="frame-action-value"></span></div>
                                </foreignObject>
                            </g>
                            <rect style="visibility:hidden;pointer-events:all" x="-24" y="0" width="49" height="120"
                                  class="trigger-hit-box"></rect>
                            <clipPath id="frame-clip-0f3f82e0-d739-4c81-afe3-7b449e0e0178" class="frame-clip-path">
                                <rect pointer-events="none" stroke="red" opacity="0.2" x="0" y="0" width="197"
                                      height="120"></rect>
                            </clipPath>
                            <g>
                                <g transform="translate(6,118)">
                                    <foreignObject transform="scale(0.5)" width="374" height="180" x="0" y="20"
                                                   class="frame-annotation epiceditor-preview">
                                        <div class="annotation-markdown" style="overflow:hidden;"></div>
                                    </foreignObject>
                                </g>
                            </g>
                            <foreignObject transform="translate(30, 121)" width="374" height="20">
                                <div class="annotation-tags" style="overflow:hidden;padding:2px"></div>
                            </foreignObject>
                            <text transform="translate(30,141)" class="annotation-placeholder-text">Dbl-click to
                                annotate
                            </text>
                            <rect data-frame-id="0f3f82e0-d739-4c81-afe3-7b449e0e0178" x="5" y="-20" height="14"
                                  width="207" class="flow-title-hitbox"></rect>
                            <rect pointer-events="all" x="0" y="131" width="197" height="70" visibility="hidden"
                                  class="frame-annotation-hitbox"></rect>
                        </g>
                    </g>
                </g>
                <g class="indicators"></g>
            </g>
        </svg>
        <div class="anchored-chrome-root" style="position:absolute;left:0px;top:0px;z-index:99999"></div>
        <div class="timeline-linear-mini">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="overflow:visible">
                <g class="timeline-string">
                    <g class="timeline-transition-in" style="display: none;">
                        <line data-id="eternal" x1="0" y1="17.5" x2="20" y2="17.5"></line>
                        <circle data-id="eternal" cx="10" cy="17.5" r="4" class="mini-frame"></circle>
                    </g>
                    <g class="timeline-transition-in">
                        <line data-id="launch" x1="40" y1="17.5" x2="60" y2="17.5"></line>
                        <circle data-id="launch" cx="50" cy="17.5" r="4" class="mini-frame"></circle>
                    </g>
                    <g class="timeline-transition-in">
                        <line data-id="300e6bea-cc3c-46eb-a65e-010d943f2bbb" x1="80" y1="17.5" x2="100"
                              y2="17.5"></line>
                        <circle data-id="300e6bea-cc3c-46eb-a65e-010d943f2bbb" cx="90" cy="17.5" r="4"
                                class="mini-frame"></circle>
                    </g>
                    <line data-id="e2354a77-d92b-489f-8bc3-fc7ffacb1c73" x1="120" y1="17.5" x2="140" y2="17.5"
                          class="timeline-transition-in"></line>
                    <line data-id="a06e8505-999d-4ce2-a117-f92e83618ee3" x1="160" y1="17.5" x2="180" y2="17.5"
                          class="timeline-transition-in"></line>
                    <line data-id="4caa2135-46a0-4bd8-a3f8-145f58cee7db" x1="200" y1="17.5" x2="220" y2="17.5"
                          class="timeline-transition-in"></line>
                    <line data-id="0fefc2f2-6368-45a8-9f59-c849136fa1b3" x1="240" y1="17.5" x2="260" y2="17.5"
                          class="timeline-transition-in"></line>
                    <line data-id="a30130bf-e66d-467d-867f-b2129f24125a" x1="280" y1="17.5" x2="300" y2="17.5"
                          class="timeline-transition-in"></line>
                    <line data-id="234467c0-755a-4c41-8d0b-2b3182fde130" x1="320" y1="17.5" x2="340" y2="17.5"
                          class="timeline-transition-in"></line>
                    <line data-id="0f3f82e0-d739-4c81-afe3-7b449e0e0178" x1="360" y1="17.5" x2="380" y2="17.5"
                          class="timeline-transition-in"></line>
                    <rect data-id="eternal" x="20" y="7.5" width="20" height="20" class="timeline-frame-at-rest"></rect>
                    <circle data-id="launch" cx="70" cy="17.5" r="10" class="timeline-frame-at-rest"></circle>
                    <circle data-id="300e6bea-cc3c-46eb-a65e-010d943f2bbb" cx="110" cy="17.5" r="10"
                            class="timeline-frame-at-rest selected"></circle>
                    <circle data-id="e2354a77-d92b-489f-8bc3-fc7ffacb1c73" cx="150" cy="17.5" r="10"
                            class="timeline-frame-at-rest"></circle>
                    <circle data-id="a06e8505-999d-4ce2-a117-f92e83618ee3" cx="190" cy="17.5" r="10"
                            class="timeline-frame-at-rest"></circle>
                    <circle data-id="4caa2135-46a0-4bd8-a3f8-145f58cee7db" cx="230" cy="17.5" r="10"
                            class="timeline-frame-at-rest"></circle>
                    <circle data-id="0fefc2f2-6368-45a8-9f59-c849136fa1b3" cx="270" cy="17.5" r="10"
                            class="timeline-frame-at-rest"></circle>
                    <circle data-id="a30130bf-e66d-467d-867f-b2129f24125a" cx="310" cy="17.5" r="10"
                            class="timeline-frame-at-rest"></circle>
                    <circle data-id="234467c0-755a-4c41-8d0b-2b3182fde130" cx="350" cy="17.5" r="10"
                            class="timeline-frame-at-rest"></circle>
                    <circle data-id="0f3f82e0-d739-4c81-afe3-7b449e0e0178" cx="390" cy="17.5" r="10"
                            class="timeline-frame-at-rest"></circle>
                </g>
            </svg>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="./test-frame-resets.js"></script>
</body>
</html>