<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    {{> simple_frame }}
    {{> frame_holder }}
</head>
<body>
<script src="test-frame-resets.js"></script>
</body>
</html>